#library{
  height: 100%;
  width: 100%;
  margin: auto;
}

.Home{
  height: 94vh;
  width: 100vw;
}
.Home .col-6, .col-3, .col-4, .col-12{
  padding: 0;
}
.Home .row{
  margin-right: 0;
  margin-left: 0;
}


